In [37]:
def fibonacci(x):
    f = [0]*(x+1)
    f[0] = 1; f[1] = 1
    for n in range(2,x+1):
        f[n] = f[n-1] + f[n-2]
    print(f[x])
        
fibonacci(5)

8

In [40]:
def suma_n_naturales(n):
    x = n*(n+1)/2
    return int(x)

suma_n_naturales(6)

21

In [49]:
#!pip install pandas
import pandas as pd

data = pd.read_csv('XHIS6_RECIBOS_CAB_metadata.csv', sep=';', nrows=100)

data.head()

,Name,Type,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,RECA_PK,NUMBER,NUMERIC,"RECA_PK NUMERIC,","RECA_PK,"
1,TO_PK,NUMBER,NUMERIC,"TO_PK NUMERIC,","TO_PK,"
2,RECA_GPO_PTO_REC,VARCHAR2(60),STRING,"RECA_GPO_PTO_REC STRING,","RECA_GPO_PTO_REC,"
3,RECA_GPO_NRO_REC,NUMBER,NUMERIC,"RECA_GPO_NRO_REC NUMERIC,","RECA_GPO_NRO_REC,"
4,RECA_FEC_EMIS,DATE,TIMESTAMP,"RECA_FEC_EMIS TIMESTAMP,","RECA_FEC_EMIS,"

In [50]:
data = data.rename(columns={'Unnamed: 2':'Type_gcp'})
data.head()

,Name,Type,Type_gcp,Unnamed: 3,Unnamed: 4
0,RECA_PK,NUMBER,NUMERIC,"RECA_PK NUMERIC,","RECA_PK,"
1,TO_PK,NUMBER,NUMERIC,"TO_PK NUMERIC,","TO_PK,"
2,RECA_GPO_PTO_REC,VARCHAR2(60),STRING,"RECA_GPO_PTO_REC STRING,","RECA_GPO_PTO_REC,"
3,RECA_GPO_NRO_REC,NUMBER,NUMERIC,"RECA_GPO_NRO_REC NUMERIC,","RECA_GPO_NRO_REC,"
4,RECA_FEC_EMIS,DATE,TIMESTAMP,"RECA_FEC_EMIS TIMESTAMP,","RECA_FEC_EMIS,"

In [60]:
data.groupby(by ='Type_gcp').count()

           Name  Type  Unnamed: 3  Unnamed: 4
Type_gcp
NUMERIC      59    59          59          59
STRING       30    30          30          30
TIMESTAMP    11    11          11          11

In [61]:
data['Type_gcp'].value_counts()

NUMERIC      59
STRING       30
TIMESTAMP    11
Name: Type_gcp, dtype: int64